# Rust
target/
debug/
*.rs.bk
# MSVC Windows builds of rustc generate these, which store debugging information
*.pdb

# Gleam
build/
*.beam
*.ez
/build
erl_crash.dump

# Kotlin
.gradle
gradlew.bat
gradlew
gradle/
**/src/test/kotlin/**
build.gradle.kts
settings.gradle.kts


#Exercism
HINTS.md
HELP.md
TUTORIAL.md
.exercism/

